<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container homeCenter" style="background-image: url('food_image.jpg');display: flex;justify-content: center;">
<!--<body class="container">-->
<!--add a header-->
<!--<div class="mainPageLogo"><img src = "food_image.jpg"/> </div>-->
<div class="homeCenter" style="background-color: #ebebeb; opacity: 0.8; border-style: solid; width:800px; border-color: #ebebeb; height: 500px">
<h1 class="text-center">Recipe Management Software </h1>
<h2 class="text-center">A one stop for all your favorite recipes.</h2>

<!--include an image as background-->
<div class="row" style="padding-top:100px;">
<p class="lead col-xs-6 text-center"><a href="/login">Login</a></p>

<p class="lead col-xs-6 text-center"><a href="/register">Register</a></p>
</div>

</div>
<!--add a footer-->

</body>
<!--<p th:replace="fragments :: footer"></p>-->
</html>