<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container text-center homeCenter"  style="background-image: url('food_image.jpg');display: flex;justify-content: center;" >

<!--add a header-->
<div class="homeCenter" style="background-color: #ebebeb; opacity: 0.8; border-style: solid; width:800px; border-color: #ebebeb; height: 500px">
<h1 class="text-center  text-danger">Recipe Management Software </h1>


<!--<header th:replace="fragments :: header"></header>-->

<form method="post">
    <div class="form-group text-danger">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group text-danger">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group text-danger">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>

    <p class="lead col-xs-6 text-danger text-center"><a href="/">Back to Main Page</a></p>

<!--add a footer-->
</body>
</html>