<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container homeCenter" style="background-image: url('../food_image.jpg');display: flex;justify-content: center;">
<!--<body class="container">-->
<!--add a header-->
<!--<div class="mainPageLogo"><img src = "food_image.jpg"/> </div>-->
<div class="homeCenter" style="background-color: #ebebeb; opacity: 0.8; border-style: solid; width:800px; border-color: #ebebeb; height: 1500px;position:absolute;">
    <h1 class="text-center">Recipe Management Software </h1>
    <h2 class="text-center">A one stop for all your favorite recipes.</h2>
    <a class="nav-link" href="/logout/">Logout</a>
    <!--include an image as background-->
<!--    <div class="row">-->

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Recipe ID</th>
                <th>Recipe Name</th>
<!--                <th>Recipe Details</th>-->
                <th>Recipe Category</th>

            </tr>
            </thead>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td><a th:text="${recipe.recipeName}" th:href="'/recipe/detail?recipeId=' + ${recipe.id}"></a></td>
<!--                <td th:href="'/recipe/detail?recipeId=' + ${recipe.id}">Testing link</td>-->
<!--                <td th:text="${recipe.recipeDetails.description}"></td>-->
<!--                <td th:text="${recipe.recipeCategory.name}"></td>-->
                <td><a th:text="${recipe.recipeCategory.name}" th:href="'/recipe/?categoryId=' + ${recipe.recipeCategory.id}"></a></td>

            </tr>
        </table>
    </div>
<!--    <p class="text-center"><a href="/">Back to Home Page</a></p>-->
</div>
<!--add a footer-->
<div style = "position:relative;">
    <table style = "margin-top:20px;">
        <tr>
            <td style="padding-left:20px;"><a href="/recipe">View Recipes</a></td>
            <td style="padding-left:20px;"><a href="/recipe/create">Create Recipe</a></td>
            <td style="padding-left:20px;"><a href="/recipeCategories">View Categories</a></td>
            <td style="padding-left:20px;"><a href="/recipeCategories/create">Create Categories</a></td>
        </tr>
    </table>
</div>
</body>
</html>